$buttonColor: rgb(0, 174, 255);
$buttonShadow: #073f7a;
h2 {
  font-size: 20px;
  border-bottom: 2px solid black;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.container {
  flex: 1;

  #list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    // overflow: scroll;

    #sindan {
      border: 1px solid black;
      padding: 100px 75px;
      display: inline-block;

      &:hover {
        box-shadow: 0px 0px 8px 1px black;
        transition: all ease 0.5s;
        margin-top: 2px;
      }
    }
    #sindan2 {
      border: 1px solid black;
      padding: 100px 75px;
      display: inline-block;
      &:hover {
        box-shadow: 0px 0px 8px 1px black;
        transition: all ease 0.5s;
        margin-top: 2px;
      }
    }
  }
}

.header {
  background-color: $buttonColor;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Kosugi Maru", sans-serif;
  margin-bottom: 40px;
}

.btn-primary {
  margin-bottom: 50px;
  box-shadow: 0px 5px 2px 0px $buttonShadow;
  &:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }
}

#js-question {
  padding: 100px;
  font-size: 20px;
  margin: 80px;
}

.info {
  padding: 20px;
  background-color: gray;
  border-top: 1px solid black;
}

.rmBt {
  visibility: hidden;
  display: none;
}

.hideRs {
  text-align: center;
  & a {
    background-color: $buttonColor;
    padding: 20px 60px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 2px 0px $buttonShadow;
    &:hover {
      text-decoration: none;
      background-color: #0069d9;
      cursor: pointer;
      color: white;
      transition: all 0.5s ease 0s;
    }
    &:active {
      position: relative;
      top: 5px;
      box-shadow: none;
    }
  }
}

#twBt {
  background-color: rgb(0, 183, 255);
  margin: auto;
  margin-bottom: 150px;
  padding: 20px 60px;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 5px 2px 0px $buttonShadow;
  &:hover {
    text-decoration: none;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    background-color: rgb(2, 112, 202);
  }
  &:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }
}

.startBt {
  display: block;
  width: 50%;
  background-color: $buttonColor;
  padding: 20px 60px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 2px 0px $buttonShadow;
  margin: 150px auto;
  text-align: center;
  &:hover {
    text-decoration: none;
    background-color: #0069d9;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease 0s;
  }
  &:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }
}
